@import url(https://fonts.googleapis.com/css?family=Lato:Lato:300,400,700,700i,900);
* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 6rem;
}

h1 span {
  color: #070607;
  font-size: 80%;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 1.7rem;
}

p, ul {
  font-size: 2rem;
}

p > * + *, ul > * + * {
  margin-top: 2.5rem;
}

p p:not(:last-of-type), ul p:not(:last-of-type) {
  margin-bottom: 2rem;
}

h2, h3 {
  margin-bottom: 2rem;
}

.caption {
  font-size: 1.5rem;
  font-weight: 300;
}

.btn {
  font-size: 1.5rem;
  font-weight: 400;
}

.mb3 {
  margin-bottom: 6rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-top: .5rem;
}

.nav-item {
  margin-top: 0;
}

.nav-item:not(:last-child) {
  margin-right: 5rem;
}

@media (max-width: 37rem) {
  .nav-item:not(:last-child) {
    margin-right: 3rem;
  }
}

.nav-item :link {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  color: #d4e4bc;
}

.nav-item :link::before {
  content: '\02686\0000a0 ';
  margin-top: 5px;
  color: #e83151;
}

.nav-item :visited {
  color: #d4e4bc;
}

.nav-item :visited::before {
  content: '\02686\0000a0 ';
  margin-top: 5px;
  color: #e83151;
}

.nav-item :hover {
  color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15rem;
}

@media (max-width: 60rem) {
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }
}

.splash {
  background: url(../img/backsplash-lego720x405.png) no-repeat top center/cover #0b5351;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #d4e4bc;
  padding: 8rem 15rem 10rem 15rem;
}

@media (max-width: 37rem) {
  .intro {
    padding: 3rem 2rem 5rem 2rem;
  }
}

@media (max-width: 60rem) {
  .intro {
    padding: 3rem 2rem 5rem 2rem;
  }
}

@media (max-width: 37rem) {
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro h1 {
  color: #e83151;
}

.intro h1 span {
  color: #d4e4bc;
}

.intro .caption {
  color: #f7bbc5;
}

.intro .name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15rem;
          flex: 0 0 15rem;
}

@media (max-width: 60rem) {
  .intro .name {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 9rem;
            flex: 0 0 9rem;
  }
  .intro .name h1 {
    font-size: 4.5rem;
  }
}

.intro .desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

@media (max-width: 60rem) {
  .intro .desc {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35rem;
            flex: 0 0 35rem;
  }
}

.intro .desc img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 37rem) {
  .intro .desc {
    width: 100%;
    text-align: center;
  }
}

.about {
  color: #e83151;
  padding: 8rem 15rem 10rem 15rem;
}

@media (max-width: 37rem) {
  .about {
    padding: 3rem 2rem 5rem 2rem;
  }
}

@media (max-width: 60rem) {
  .about {
    padding: 3rem 2rem 5rem 2rem;
  }
}

.about p {
  padding: 0 .5rem;
}

.about p:not(:last-of-type) {
  margin-bottom: 2rem;
}

.about .h2left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .h2left::after {
  content: "";
  background: #e83151;
  height: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
}

.about .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .skills-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

.work {
  color: #0b5351;
  background-color: #d4e4bc;
  padding: 8rem 15rem 10rem 15rem;
}

@media (max-width: 37rem) {
  .work {
    padding: 3rem 2rem 5rem 2rem;
  }
}

@media (max-width: 60rem) {
  .work {
    padding: 3rem 2rem 5rem 2rem;
  }
}

.work .p-work {
  padding: 0 .5rem 0 1rem;
}

.work .h2right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .h2right::before {
  content: "";
  background: #0b5351;
  height: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
}

.work .h3right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .h3right::before {
  content: "";
  background: #eafcd0;
  height: .2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
}

.work h3 {
  color: #eafcd0;
  font-size: 2.4rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.contact {
  color: #e83151;
  padding: 8rem 15rem 10rem 15rem;
}

@media (max-width: 37rem) {
  .contact {
    padding: 3rem 2rem 5rem 2rem;
  }
}

@media (max-width: 60rem) {
  .contact {
    padding: 3rem 2rem 5rem 2rem;
  }
}

.contact p {
  padding: 0 .5rem;
}

.contact .h2left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .h2left::after {
  content: "";
  background: #e83151;
  height: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
}

.btn {
  margin: 2rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 1s all;
  transition: 1s all;
  pointer: cursor;
}

.btn > * {
  padding: 10px 3rem;
  border-radius: 10px;
}

.btn.btn-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn.btn-i :link, .btn.btn-i :visited {
  color: #e83151;
  background-color: transparent;
  border: 1px solid #e83151;
  text-decoration: none;
}

.btn.btn-i :hover {
  color: #fff;
  border: 1px solid #d4e4bc;
  background-color: #e83151;
}

.btn.btn-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn.btn-c :link, .btn.btn-c :visited {
  color: #fff;
  background-color: #0b5351;
  text-decoration: none;
  border: 1px solid #e83151;
}

.btn.btn-c :hover {
  color: #7f9183;
  background-color: #7f9183;
  border: 1px solid #7f9183;
}

.btn.btn-w :link, .btn.btn-w :visited {
  color: #fff;
  background-color: #7f9183;
  text-decoration: none;
  border: 1px solid #fff;
}

.btn.btn-w :hover {
  color: #7f9183;
  background-color: #7f9183;
  border: 1px solid #7f9183;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: -1rem;
}

.cards-item {
  margin: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(212, 228, 188, 0.8)), to(rgba(127, 145, 131, 0.8)));
  background: linear-gradient(rgba(212, 228, 188, 0.8) 40%, rgba(127, 145, 131, 0.8));
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

.cards-item .card-img-1 {
  background: url(../img/pf-jmv-450x250.png) top center/contain no-repeat;
}

.cards-item .card-img-2 {
  background: url(../img/pf-gus-450x250.png) top center/contain no-repeat;
}

.cards-item .card-img-3 {
  background: url(../img/pf-gmmg-450x250.png) top center/contain no-repeat;
}

.cards-item .card-img-4 {
  background: url(../img/pf-uslink-450x250.png) top center/contain no-repeat;
}

.cards-item .card-img-5 {
  background: url(../img/pf-wkfsAL-450x250.png) top center/contain no-repeat;
}

.cards-item .card-img-6 {
  background: url(../img/pf-econog-450x250.png) top center/contain no-repeat;
}

.cards-item .card {
  padding: .5rem 1rem 1rem 1rem;
  margin-top: 1rem;
}

.cards-item .card_content {
  background: rgba(234, 252, 208, 0.8);
  border-radius: 5px;
  padding: 1rem;
  padding-bottom: 2rem;
}

.cards-item .card p {
  padding: .5rem 0;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.cards-item .card .c-btn {
  margin: 2rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  pointer: cursor;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.cards-item .card .c-btn > * {
  margin-top: 1rem;
  padding: .5rem 1.5rem;
  border-radius: 5px;
}

.cards-item .card .c-btn :link, .cards-item .card .c-btn :visited {
  color: #e83151;
  background-color: transparent;
  border: 1px solid #e83151;
  text-decoration: none;
}

.cards-item .card .c-btn :hover {
  color: #fff;
  border: 1px solid #d4e4bc;
  background-color: #e83151;
}

.cards-item h3 {
  color: #fff;
  background-color: #0b5351;
  font-size: 2.2rem;
  text-align: right;
  display: inline-block;
  margin: 9rem 0 0 1rem;
  padding: .1rem 3rem;
}

.list-work {
  list-style: none;
  margin: .5rem 1rem;
  padding: .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.3rem;
}

.list-work-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  margin-bottom: .5rem;
  padding-right: 2rem;
}

@media (max-width: 37rem) {
  .list-work-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }
}

.list-work-item:first-of-type {
  margin-top: 2.5rem;
}

.list-work a:link, .list-work a:visited {
  color: #e83151;
  text-decoration: none;
}

.list-work a:hover {
  text-decoration: underline;
  color: #e83151;
}
/*# sourceMappingURL=main.css.map */