body {
    // margin: 2rem 5rem;
}

main {
    display: flex;
    flex-direction: column;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.left {
    // flex: 0 1 48%; 
    padding: 2rem;
}

.right {
    // flex: 0 1 48%; 
    padding: 2rem;
    // display: flex;
}

.left {
    // border-right: 5px solid black;
}

.box1 {
    padding: 2rem; 
    background-color: bisque;
}
.box2 {
    padding: 2rem; 
    background-color: blueviolet;
}
.rbox {
    padding: 2rem; 
    background-color: greenyellow;
    // flex: 1;
}