.btn {
    margin: 2rem 0;
    box-sizing: border-box;
    transition: 1s all;
    pointer: cursor;

    > * {
        padding: 10px 3rem;
        border-radius: 10px;
    }
    &.btn-i {
        display: flex;
        justify-content: flex-end;
        
        :link, :visited {
            color: $c-sec;
            background-color: transparent;
            border: 1px solid $c-sec;
            text-decoration: none;
        }

        :hover {
            color: $c-white;
            border: 1px solid $c-tert;
            background-color: $c-sec;
        }
    }
    &.btn-c {
        display: flex;
        justify-content: flex-end;
        
        :link, :visited {
            color: $c-white;
            background-color: $c-prim;
            text-decoration: none;
            border: 1px solid $c-sec;
        }
        :hover {
            color: $c-five;
            background-color: $c-five;
            border: 1px solid $c-five;
        }
    }
    &.btn-w {
        
        :link, :visited {
            color: $c-white;
            background-color: $c-five;
            text-decoration: none;
            border: 1px solid $c-white;
        }
        :hover {
            color: $c-five;
            background-color: $c-five;
            border: 1px solid $c-five;
        }
    }
}

// 

.cards {
    display: flex;
    justify-content: center; //centers content
    flex-wrap: wrap;
    list-style: none;
    margin: -1rem; //need to fake gutters
    

    &-item {

        margin: 1rem; //need to fake gutters
        background: linear-gradient( rgba($c-tert, .8) 40%, rgba($c-five, .8) );
        flex: 0 0 300px; //no grow or shrink only contained width to simulate grid

        @include breakpoint(mobile) {
            flex: 0 0 95%;
            text-align: center;
        }

        .card-img {

            &-1 {
                background: url(../img/pf-jmv-450x250.png) top center / contain no-repeat;  
            }
            &-2 {
                background: url(../img/pf-gus-450x250.png) top center / contain no-repeat;   
            }
            &-3 {
                background: url(../img/pf-gmmg-450x250.png) top center / contain no-repeat;   
            }
            &-4 {
                background: url(../img/pf-uslink-450x250.png) top center / contain no-repeat;  
            }
            &-5 {
                background: url(../img/pf-wkfsAL-450x250.png) top center / contain no-repeat;  
            }
            &-6 {
                background: url(../img/pf-econog-450x250.png) top center / contain no-repeat;  
            }
        } 

        .card {
            padding: .5rem 1rem 1rem 1rem; 
            margin-top: 1rem;

            &_content {
                background: rgba($c-tert2, .8);
                // background: linear-gradient( rgba($c-tert, .8) 40%, rgba($c-tert, .8) );
                border-radius: 5px;
                padding: 1rem;
                padding-bottom: 2rem;
            }
            
            p {
                padding: .5rem 0;
                font-size: 1.6rem;
                margin-bottom: 1rem;
            }

            .c-btn {
                margin: 2rem 0;
                box-sizing: border-box;
                pointer: cursor;
                font-size: 1.2rem;
                text-transform: uppercase;

                > * {
                    margin-top: 1rem;
                    
                    padding: .5rem 1.5rem;
                    border-radius: 5px;
                }

                :link, :visited {
                    color: $c-sec;
                    background-color: transparent;
                    border: 1px solid $c-sec;
                    text-decoration: none;
                }

                :hover {
                    color: $c-white;
                    border: 1px solid $c-tert;
                    background-color: $c-sec;
                }
            }

        }

        h3 {
            color: $c-white;
            background-color: $c-prim;
            font-size: 2.2rem;
            text-align: right;
            display: inline-block;
            margin: 9rem 0 0 1rem;
            padding: .1rem 3rem;

        }

        
    }
}

.list-work {
    list-style: none;
    margin: .5rem 1rem;
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.3rem;

    &-item {
        flex: 0 0 30%;
        margin-bottom: .5rem;
        padding-right: 2rem;

        @include breakpoint(mobile) {
            flex: 0 0 100%;
            text-align: center;
        }

        &:first-of-type {
            margin-top: 2.5rem;
        }
    }
    a:link, a:visited {
        color: $c-sec;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: $c-sec;
    }
}