@import url(https://fonts.googleapis.com/css?family=Lato:Lato:300,400,700,700i,900);
* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
box-sizing: inherit;
}

html {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

$c-prim: #3e5c76;
$c-sec: #56e39f;
$c-tert: #a62639;
$c-quad: #3b2c35;
$c-five: #5b6c5d;
$c-white: #fff;
$c-black: #000;

.bg2 { background-color: $c-sec; }
.bg1 { background-color: $c-prim; }
.bg3 { background-color: $c-quad; }

p, ul { font-size: 1.5rem; }
ul { padding: 2rem; }

header {
    display: flex;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;
    background-color: $c-tert;


    h1 {
        color: $c-white;
    }

    .main-nav {
        margin-left: auto;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;

            &:not(:last-child) {
                padding-right: 3rem;
            }

            :link {
                color: $c-sec;
            }
        }
    }
}
main {
    margin: 0 5rem;
}

.env {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 2rem;
    padding: 2rem;   
    
    &-item {
        background-color: lighten($c-prim, 50%);
        padding: 2rem;
        
    }
}